@using Microsoft.CodeAnalysis.CSharp.Syntax
@model IEnumerable<MRZReader.Core.Document>
@{
    ViewData["Title"] = "Index";
}

@if (Model.Count() >0)
{
    <div class="text-md-left">
        <h3 class="display-3 text-dark">Documents & Results!</h3>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
            <th>Created Date</th>
            <th>File Name</th>
            <th>Given Name</th>
            <th>Last Name</th>
            <th>DOB</th>
            <th>Document Type</th>
            <th>Issuing Country</th>
            <th>Expiry Date</th>
            <th class="text-center" colspan="2">Download</th>
            </thead>
            <tbody>
                @foreach (var doc in Model)
                {
                    <tr>
                        <td>@doc.CreatedDate.ToShortDateString()</td>
                        <td>@doc.FileFullName</td>
                        <td>@doc.User.GivenName</td>
                        <td>@doc.User.LastName</td>
                        <td>
                            @if (doc.User.BirthDate.HasValue)
                            {
                                <p>@doc.User.BirthDate.Value.ToShortDateString()</p>
                            }
                            else
                            {
                                <strong class="text-danger">No Read</strong>
                            }
                        </td>
                        <td>@doc.DocumentType</td>
                        <td>@doc.IssuingCountry</td>
                        <td>
                            @if (doc.ExpiryDate.HasValue)
                            {
                                <p>@doc.ExpiryDate.Value.ToShortDateString()</p>
                            }
                            else
                            {
                                <strong class="text-danger">No Read</strong>
                            }
                        </td>
                        <td>@Html.ActionLink("Download Source", "Download", new { filename = doc.SourceFilePath }) </td>
                        <td>@Html.ActionLink("Download Target", "Download", new { filename = doc.TargetFilePath }) </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="text-center">
        <h3 class="text-danger lead"><strong>No Documents/Results to view!</strong></h3>
        <p>
            Upload A Document? @Html.ActionLink("Upload Document", "Upload","Home") 
        </p>
        <hr>
        <p class="lead">
            <a class="btn btn-primary btn" href="Home\Index" role="button">Continue to homespage</a>
        </p>
    </div>
}